button.btn-small {
    padding: 5px;
    font-size: 14px;
    border-radius: 30%;
    /* width: 30px;
    height: 30px; */
    text-align: center;
    line-height: 1;
}

.cart-container {
    padding: 20px;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-table th,
.cart-table td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

.cart-table td.name {
    text-align: left;
}

.cart-img {
    max-width: 80px;
    border-radius: 6px;
}

.quantity-form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    /* gap: 3px; */
}

.remove-form {
    margin: 0;
    padding: 0;
    display: inline;
}

.quantity {
    min-width: 20px;
    text-align: center;
    font-weight: bold;
}

.cart-total {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}
form button.btn {
    align-self: flex-end;

}

form button.btn-danger {
    background-color: #d9534f;
    color: #fff;
    padding: 5px 10px;

}

.btn-danger:hover {
    background-color: #c9302c;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.3);
    }

    50% {
        transform: scale(0.9);
    }

    70% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.cart-count.bounce {
    animation: bounce 0.5s;
}

@keyframes highlight {
    0% {
        background-color: #4CAF50;
    }

    100% {
        background-color: var(--primary-color);
    }
}

.cart-count.highlight {
    animation: highlight 1s ease;
}