{% extends "main/base.html" %} 

{% load static %} 

{% block extracss %}
<link rel="stylesheet" href="{% static 'main/css/index.css' %}" />
<link rel="stylesheet" href="{% static 'main/css/about.css' %}" />
{% endblock extracss %} 

{% block content %}
<h1>Наш Інтернет-магазин</h1>
<section class="about">
  <h2>Про нас</h2>
  <p>
    Ми — сучасний інтернет-магазин, який пропонує широкий асортимент якісних
    товарів за доступними цінами. Наша мета — зробити покупки зручними, швидкими
    та приємними для кожного клієнта.
  </p>
  <p>
    Ми працюємо напряму з виробниками, щоб гарантувати найкращу якість та
    сервіс. Доставка здійснюється по всій Україні.
  </p>
</section>

<section class="delivery">
  <h2>Доставка та оплата</h2>
  <p>
    Ми здійснюємо доставку по всій Україні за допомогою надійних кур’єрських
    служб. Оплата можлива онлайн (банківською карткою) або при отриманні
    замовлення.
  </p>
  <p>
    Вартість доставки залежить від обраної служби та регіону. При замовленні
    понад 1500 грн доставка безкоштовна.
  </p>
</section>

<section class="exchange">
  <h2>Обмін та повернення</h2>
  <p>
    Якщо товар не підійшов або має виробничий дефект, ви можете здійснити обмін
    або повернення протягом 14 днів.
  </p>
  <p>
    Для цього необхідно зберегти товарний вигляд та упаковку. Витрати на
    доставку при поверненні покриває покупець, крім випадків браку.
  </p>
</section>

<section class="guarantee">
  <h2>Гарантії</h2>
  <p>
    Ми гарантуємо якість усіх товарів, представлених у нашому магазині. На
    більшість товарів поширюється офіційна гарантія від виробника.
  </p>
  <p>
    У випадку гарантійного випадку ми допоможемо організувати ремонт або заміну
    товару.
  </p>
</section>

<section class="reviews">
  <h2>Залишити відгук</h2>
  <form action="" method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit" class="btn">Залишити відгук</button>
  </form>

  <h2>Відгуки користувачів</h2>
  <div class="user-reviews">
    {% for review in site_reviews %}
    <div class="review-card">
      <h3>{{ review.name }} - Оцінка: {{ review.rating }}</h3>
      <p>{{ review.text }}</p>
      <p class="created-time">{{ review.created_time }}</p>
    </div>
    <hr />
    {% endfor %}
  </div>
</section>
{% endblock content %}
