.content h2 {
    margin-bottom: 10px;
}

.content .wrapper {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 15px;
    justify-content: start; */
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
}

.content .wrapper .product-card {
    max-width: 250px;
    flex: 0 0 250px;
    background: #afcee5;
    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
    text-align: center;
    transition: transform 0.2s ease;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
}

.content .wrapper .product-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* color: var(--c-accent); */
}

.content .wrapper .product-card .image {
    width: 100%;
    max-height: 200px;
    min-height: 200px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 10px;
}

.content .wrapper .product-card .name {
    font-size: 14px;
    font-weight: bold;
    height: 70px;
    margin: 10px 0;
    color: var(--c-txt-main);
    overflow: hidden;
}

.content .wrapper .product-card .price {
    font-size: 18px;
    font-weight: bold;
}

.price-block.discont .line  {
    text-decoration: line-through;
    color: #888888;
}

.price-block.discont .price {
    font-size: 16px;
    font-weight: bold;
    color: #dc0000;
    margin-left: 10px;
}

.price-block {
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 10px;
}

.content .wrapper .product-card .brand {
    display: inline-block;
    background: var(--c-bg-primary);
    color: #fff;
    padding: 3px 7px;
    border-radius: 5px;
    font-size: 12px;
    margin-bottom: 10px;
}

.product-card .btn {
    width: 100%;
}

form.price-filter {
    display: block;
    text-align: start;
}

form.price-filter label {
    font-weight: 600;
    color: var(--c-bg-primary);
    margin-bottom: 5px;
    display: inline;
    font-size: 14px;
    text-align: left;
}

form.price-filter input {
    width: 150px;
}


form.price-filter .search-input {
    width: 50%;
}

@media (max-width: 1200px) {
    .content .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .content .wrapper {
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 650px) {
    .content .wrapper {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}