.content h2 {
    margin-bottom: 10px;
    text-align: center;
}

.content .sales-better {
    /* display: flex;
    flex-wrap: wrap;
    gap: 15px; */
}

.content .sales-better .product-card {
    height: 500px;
    background: #afcee5;
    padding: 10px;
    border-radius: 10px;
    /* width: calc(33% - 10px); */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.content .sales-better .product-card .image {
    /* max-width: 50%; */
    /* height: auto; */
    width: auto;
    max-height: 250px;
    min-height: 250px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.content .sales-better .product-card h3 {
    height: 45px;
    overflow: hidden;
    font-size: 14px;
    margin: 10px 0;
    color: var(--c-txt-main);

}

.content .sales-better .product-card .price {
    /* color: var(--c-txt-main); */
    font-size: 18px;
    font-weight: bold;
}

.content .sales-better .product-card .brand {
    display: inline-block;
    background: var(--c-bg-primary);
    color: #fff;
    padding: 3px 7px;
    border-radius: 5px;
    font-size: 12px;
    text-align: left;
    margin-bottom: 10px;
}

.price-block.discont .line {
    /* закреслений і сірий*/
    text-decoration: line-through;

    color: #888888;
}

.price-block.discont .price {
    font-size: 16px;
    font-weight: bold;
    color: #dc0000;
    margin-left: 10px;
}

.price-block {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 10px;
}

.categorys {
    margin-bottom: 30px;
}

.category-wrapper {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    justify-content: start; */
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
}

.categorys .category-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--c-bg-primary);
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.categorys .category-section a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.categorys .category-section a:hover {
    color: var(--c-accent);
    text-decoration: underline;
}

.categorys .category-section .category-image {
    width: 150px;
    min-height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

form input.mark {
    width: 150px;
}

@media (max-width: 1200px) {
    .category-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .content .sales-better .product-card .image {
        max-height: 200px;
        min-height: 200px;
    }

    .content .sales-better .product-card {
        height: 450px;
    }
}

@media (max-width: 900px) {
    .category-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .content .sales-better .product-card .image {
        max-height: 150px;
        min-height: 150px;
    }

    .content .sales-better .product-card {
        height: 400px;
    }

}

@media (max-width: 600px) {
    .category-wrapper {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .content .sales-better .product-card .image {
        max-height: 100px;
        min-height: 100px;
    }

    .content .sales-better .product-card {
        height: 350px;
    }
}




.user-reviews {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.review-card {
    background: #fff;
    border: 1px solid var(--c-bg-primary);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
}

.review-card:hover {
    transform: translateY(-3px);
}

.review-card h3 {
    font-size: 16px;
    margin-bottom: 8px;
    color: var(--c-bg-primary);
}

.review-card p {
    margin-bottom: 6px;
    font-size: 14px;
    color: var(--c-txt-main);
}

.review-card .created-time {
    font-size: 12px;
    color: #777;
    text-align: right;
}

@media (max-width: 900px) {

    form input[type="text"],
    form input[type="email"],
    form textarea {
        width: 80%;
    }
}


@media (max-width: 768px) {
    form {
        padding: 15px;
    }

    form input[type="text"],
    form input[type="email"],
    form textarea {
        width: 100%;
    }

    .review-card {
        padding: 10px;
    }

    .review-card h3 {
        font-size: 14px;
    }
}