:root {
    --c-accent: #F1C40F;
    --c-txt-main: #3E2723;
    --c-bg-primary: #8E5A2C;
    --c-bg-secondary: #FDEBD0;
    --font-family: "Inter", sans-serif;
    --animation-transition: all 0.3s ease-in-out;
}