:root {
    --c-accent: #27AE60;
    --c-txt-main: #2C2C2C;
    --c-bg-primary: #1E3D2F;
    --c-bg-secondary: #D5E8D4;
    --font-family: "Inter", sans-serif;
    --animation-transition: all 0.3s ease-in-out;
}