:root {
    --c-accent: #16a0a0;
    --c-txt-main: #2C2C2C;
    --c-bg-primary: #34495E;
    --c-bg-secondary: #D6EAF8;
    --font-family: "Inter", sans-serif;
    --animation-transition: all 0.3s ease-in-out;
}